/* GENERAL SETUP */

html, body, button, input, textarea {
  font-family: ARS Maquette, "Helvetica Neue", Arial, sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

ul {
  padding: 0;
  margin: 0;
}

.nav-links li i {
  padding: 0 16px;
}

.header-clearance {
  margin-top: 80px;
}

.bg-img {
  margin: 0 10px 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 184px;
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(0, 0, 0, 1)), url(binoculars-looking-at-ocean.jpg);
}

.display-top {
  position: absolute;
  top: 0;
  left: 0;
}

.display-bottom {
  position: absolute;
  left: 0;
  bottom: 0
}

.standalone-logo {
  width: 50px;
  z-index: 999;
}

/* WRAPPERS */

.wrapper-flex {
  display: flex;
  justify-content: space-between;
}

.icons {
  height: 48px;
  width: 48px;
  border-left: 1px solid lightgray;
}

.hamburger {
  padding: 16px;
}

.hamburger>div {
  width: 20px;
  height: 2px;
  background-color: red;
  margin-top: 3px;
}

.icon-search {
  width: 16px;
  height: 16px;
  opacity: 0.25;
  padding: 16px;
}

.anouncement {
  font-size: 12px;
  height: 60px;
  padding: 0 6px;
  line-height: 60px;
  text-align: center;
  font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
  background-color: #fd3;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: black;
}

.logo {
  width: 66px;
}

.item-height {
  height: 48px;
}

.item-32 {
  height: 32px;
}

.display-flex {
  display: flex;
}

.grid {
  display: grid;
}

.grid-gap {
  column-gap: 16px;
}

.color-default {
  color: #326891;
}

.grid-row-gap {
  row-gap: 16px;
}

.flex-dir-row {
  flex-direction: row;
}

.col-20x60x20 {
  grid-template-columns: 20% 60% 20%;
}

.col-50x50 {
  grid-template-columns: 50% 50%;
}

.col-70x30 {
  grid-template-columns: 70% 30%;
}

.col-30x70 {
  grid-template-columns: 30% 70%;
}

.col-auto-3x {
  grid-template-columns: auto auto auto;
}

.col-auto-4x {
  grid-template-columns: auto auto auto auto;
}

.col-auto-6x {
  grid-template-columns: auto auto auto auto auto auto;
}

.header-item {
  height: 48px;
  display: block;
}

.card-item {
  height: 100px;
}

.flex-container {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-no-wrap {
  flex-wrap: nowrap;
}

.icon {
  width: 16px;
  margin-right: 16px;
}

.width100 {
  width: 100%;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}

.btn {
  background-color: #567b95;
  border: 0;
  padding: 8px;
  color: #fff;
}

.light-text {
  color: #999;
}

.margin-auto {
  margin: auto;
}

.border-top {
  border-top: 1px solid #000;
}

.mid-line {
  display: block;
  width: 10%;
  border-top: 1px solid #000;
}

.margin-y-16 {
  padding: 50px 0;
}

.margin-y-md {
  margin: 16px 0;
}

.padding-bottom-md {
  padding-bottom: 16px;
}

.padding-bottom-lg {
  padding-bottom: 32px;
}

.margin-bottom-md {
  margin-bottom: 16px;
}

.margin-bottom {
  margin-bottom: 48px;
}

.text-center {
  text-align: center;
}

li {
  list-style: none;
  margin: 0;
}

.social {
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.editor-picks span {
  padding-left: 7px;
}

.editor-picks li {
  padding-top: 7px;
}

.blah {
  background: #ccc;
  padding: 9px;
  border-radius: 50%;
}

.text-end {
  text-align: right;
}

.border-bottom {
  border-bottom: 1px solid #ccc;
}

.border-y {
  border: 1px solid #000;
}

.padding-y-24 {
  padding: 24px 0;
}

.most-popular li {
  font-family: georgia, "times new roman", times, serif;
  color: #000;
  padding: 16px 0;
  border-top: 1px solid rgb(226, 226, 226);
  border-bottom: 1px solid rgb(226, 226, 226);
}

.fs-2 {
  font-size: 2.5rem;
}

.fs-italic {
  font-style: italic;
}

/* ul {
  padding: 0;
  margin: 0;
} */

.container {
  padding: 0 32px;
}

.content {
  max-width: 900px;
  margin: 0 auto;
}

.text-content {
  padding: 0 164px 0 164px;
}

iframe {
  width: 100%;
  height: 315px;
}

.display-top {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
}

.card-title {
  font-weight: 700;
}

.card-icon {
  margin-left: 8px;
}

.float-right {
  float: right;
}

.clearance {
  margin-top: 80px;
}

aside {
  width: 200px;
}

.h60 {
  height: 90px;
}

.editor-img {
  width: 50px;
  height: 50px;
}

.fs-small {
  font-size: 12px;
}

.display-relative {
  position: relative;
}

.display-abs {
  position: inherit;
}

/* .bg-img {
  height: 150px;
} */

a {
  text-decoration: none;
}

.small-links {
  color: #666;
  border-top: 1px solid #ebebeb;
  padding: 16px 0;
  margin-top: 8px;
}

footer .grid a {
  text-decoration: none;
  font-size: 14px;
  color: #000;
  line-height: 16px;
}

footer a:hover {
  text-decoration: underline;
}

footer h3 {
  line-height: 0;
}

.special {
  border-left: 1px solid #ccc;
  padding: 0 0 0 16px;
}

.fs-logo {
  color: #000;
  font-size: 14.25px;
}

.caption, #caption {
  font-size: 0.9375rem;
  line-height: 1.25rem;
  margin-left: 7px;
  color: #666;
}

.text-content p {
  font-size: 1.25rem;
  line-height: 1.875rem;
}

.date {
  font-size: 0.8125rem;
}

.break p {
  line-height: 10px;
}

.text-heading {
  font-size: 1.25rem;
}

.theory-sect p {
  font-size: 0.875rem;
  color: #666;
}

.theory-sect p span {
  font-size: 11px;
  font-weight: bold;
  color: #000;
}

#credit {
  font-size: 0.875rem;
  color: #000;
}

.width-20 {
  width: 90px;
}

.card {
  padding: 8px;
  border: 1px solid #000;
}

#small-link-footer li a {
  color: #666;
  font-size: 11px;
  line-height: 21px;
}

.bold {
  font-weight: 700;
}

.more-sect p {
  font-family: georgia, "times new roman", times, serif;
}

.editor-picks img {
  width: 80px;
}

form input, form textarea, form select {
  padding: 16px;
  border: 0;
  border-bottom: 2px solid #666;
}

footer>div>ul>li {
  padding: 5px;
}

.footer-links {
  padding: 20px 16px;
  flex-wrap: wrap;
  justify-content: center;
}

.header-links {
  color: rgb(114, 114, 114);
  font-family: Shentox, sans-serif;
  text-transform: uppercase;
}

.post-header {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.space li, .post-header * {
  padding: 0 16px;
}

.current {
  color: white;
}

/* .footer-logo {
  height: 9px;
  display: inline-block;
}

.footer-links li {
  color: rgb(114, 114, 114);
  font-family: Shentox, sans-serif;
  text-transform: uppercase;
} */

/* .footer-top {
  background-color: rgb(32, 32, 32);
  padding: 20px 0;
}

.footer-bottom {
  background-color: black;
  padding: 20px;
  color: #aaa;
}

.footer-bottom span {
  display: inline-block;
}

.footer-wrapper {
  margin: auto;
  flex-wrap: wrap;
  text-align: center;
} */

/* FOOTER */

.footer-links {
  width: 100%;
  height: 161px;
  padding: 40px 0;
  background-color: #131313;
  margin: auto;
  border-bottom: 1px solid #333;
  box-sizing: border-box;
}

.footer-social>ul {
  display: flex;
  flex-wrap: wrap;
  padding-inline-start: 0;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-bottom: 21px;
  justify-content: center;
}

.social {
  color: #fff;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding: 12px;
  margin: 0 3px;
  text-align: center;
  background-color: #333;
  box-sizing: border-box;
}

.footer-info {
  font: 13px 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  text-align: center;
  flex-wrap: nowrap;
}

.footer-info>a {
  color: #aaa;
  margin: 0 2px;
}

.footer-about {
  width: 100%;
  text-align: center;
  height: 122px;
  padding: 32px 0;
  font: 13px ARS Maquette, Helvetica Neue, Arial, sans-serif;
  color: #aaa;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  box-sizing: border-box;
}

.footer-about>span {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 19px;
}

.footer-about>span>a>img {
  height: 9px;
}

.footer-logo {
  margin-right: 3px;
}

.icon-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 21px;
}

.icon-f {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #aaa;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.z999 {
  z-index: 999;
}

.float-left {
  float: left;
}

.fund-icon {
  height: 60px;
  width: 60px;
}

.target {
  margin: 0;
}

.pad-left {
  line-height: 28px;
  padding-left: 60px;
}

.show-md {
  display: none;
}

/*  ***********************
        MEDIA QUERIES
    *********************** */

@media only screen and (min-width: 768px) {
  .col-30x70 {
    grid-template-columns: 70% 30%;
  }
  .col-70x30-md {
    grid-template-columns: 70% 30%;
  }
  .show-md {
    display: block;
  }
  .hide-md {
    display: none;
  }
  .header-clearance {
    margin-top: 112px;
  }
  .standalone {
    margin: 0;
    height: 378px;
  }
}

@media only screen and (min-width: 1024px) {}