/* GENERAL SETUP */

html {
  font-family: ARS Maquette, "Helvetica Neue", Arial, sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

ul {
  padding: 0;
  margin: 0;
}

section {
  padding: 8px 0;
}

li {
  list-style: none;
  margin: 0;
}

footer > div > ul > li {
  padding: 5px;
}

.news-box > li {
  list-style-position: inside;
  list-style-type: circle;
  height: 32px;
  border-bottom: 1px solid rgb(238, 238, 238);
}

.nav-links li i {
  padding: 0 16px;
}

.header-clearance {
  margin-top: 80px;
}

.bg-img {
  margin: 0 10px 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 184px;
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(0, 0, 0, 1)), url(binoculars-looking-at-ocean.jpg);
}

.bg-container {
  height: 315px;
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.48), rgba(0, 0, 0, 1)), url(binoculars-looking-at-ocean.jpg);
}

.display-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
}

.standalone-logo {
  width: 80%;
}

.gap-row-lg {
  row-gap: 32px;
}

.gap-column-md {
  column-gap: 16px;
}

h4 {
  margin: 0;
}

/* WRAPPERS */

.wrapper-flex {
  display: flex;
  justify-content: space-between;
}

.icons {
  height: 48px;
  width: 48px;
  border-left: 1px solid lightgray;
}

.hamburger {
  padding: 16px;
}

.hamburger > div {
  width: 20px;
  height: 2px;
  background-color: red;
  margin-top: 3px;
}

.icon-search {
  width: 16px;
  height: 16px;
  opacity: 0.25;
  padding: 16px;
}

.anouncement {
  font-size: 12px;
  height: 60px;
  padding: 0 6px;
  line-height: 60px;
  text-align: center;
  font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
  background-color: #fd3;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: black;
}

.logo {
  width: 66px;
}

.item-height {
  height: 48px;
}

.item-32 {
  height: 32px;
}

.display-flex {
  display: flex;
}

.grid {
  display: grid;
}

.grid-gap {
  column-gap: 16px;
}

.color-default {
  color: #326891;
}

.grid-row-gap {
  row-gap: 16px;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.list-item {
  display: flex;
  flex-direction: row;
  padding: 8px;
}

.col-20x60x20 {
  grid-template-columns: 20% 60% 20%;
}

.col-50x50 {
  grid-template-columns: 50% 50%;
}

.col-70x30 {
  grid-template-columns: 70% 30%;
}

.col-30x70 {
  grid-template-columns: 30% 70%;
}

.col-auto-3x {
  grid-template-columns: auto auto auto;
}

.col-auto-4x {
  grid-template-columns: auto auto auto auto;
}

.col-auto-6x {
  grid-template-columns: auto auto auto auto auto auto;
}

.header-item {
  height: 48px;
  display: block;
}

.card-item {
  height: 100px;
}

.flex-container {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-no-wrap {
  flex-wrap: nowrap;
}

.icon {
  width: 16px;
  margin-right: 16px;
}

.width100 {
  width: 100%;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}

.light-text {
  color: #999;
}

.margin-auto {
  margin: auto;
}

.border-top {
  border-top: 1px solid #000;
}

.mid-line {
  display: block;
  width: 10%;
  border-top: 1px solid #000;
}

.margin-y-16 {
  padding: 50px 0;
}

.margin-y-md {
  margin: 16px 0;
}

.padding-bottom-md {
  padding-bottom: 16px;
}

.padding-bottom-lg {
  padding-bottom: 32px;
}

.margin-bottom-md {
  margin-bottom: 16px;
}

.margin-bottom {
  margin-bottom: 48px;
}

.text-center {
  text-align: center;
}

.border-bottom {
  border-bottom: 1px solid #ccc;
}

.border-y {
  border: 1px solid #000;
}

.padding-y-24 {
  padding: 24px 0;
}

.fs-2 {
  font-size: 2.5rem;
}

.fs-italic {
  font-style: italic;
}

.content {
  max-width: 900px;
  margin: 0 auto;
}

.text-content {
  padding: 0 164px 0 164px;
}

iframe {
  width: 100%;
  height: 315px;
}

.title {
  color: #ff4322;
  margin: 10px 14px 10px;
}

.card-title {
  margin-block-start: 0;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 5px;
  font-family: 'Lexend', sans-serif;
}

.card-title2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 16px;
  margin-bottom: 5px;
}

.card-title3 {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 5px;
}

.card-title4 {
  font: 13px 'Lexend', sans-serif;
  color: #fff;
}

.card-title5 {
  font: 13px 'Lexend', sans-serif;
  color: #ff4322;
}

.author {
  font-size: 12px;
  color: #aaa;
}

.card-icon {
  margin-left: 8px;
}

.float-right {
  float: right;
}

.clearance {
  margin-top: 80px;
}

aside {
  width: 200px;
}

.h60 {
  height: 90px;
}

.editor-img {
  width: 50px;
  height: 50px;
}

.fs-small {
  font-size: 12px;
}

.display-relative {
  position: relative;
}

.display-abs {
  position: inherit;
}

a {
  text-decoration: none;
}

.footer-info > a {
  color: #aaa;
  margin: 0 2px;
}

footer a:hover {
  text-decoration: underline;
}

footer h3 {
  line-height: 0;
}

.special {
  border-left: 1px solid #ccc;
  padding: 0 0 0 16px;
}

.fs-logo {
  color: #000;
  font-size: 14.25px;
}

.caption {
  font-size: 0.9375rem;
  line-height: 1.25rem;
  margin-left: 7px;
  color: #666;
}

.text-content p {
  font-size: 1.25rem;
  line-height: 1.875rem;
}

.date {
  font-size: 0.8125rem;
}

.break p {
  line-height: 10px;
}

.text-heading {
  font-size: 1.25rem;
}

.card {
  padding: 8px;
  border: 1px solid #000;
}

.bold {
  font-weight: 700;
}

.header-links {
  color: rgb(114, 114, 114);
  font-family: Shentox, sans-serif;
  text-transform: uppercase;
}

.post-header {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.space li,
.post-header * {
  padding: 0 16px;
}

.current {
  color: white;
}

.footer-links {
  width: 100%;
  height: 161px;
  padding: 40px 0;
  background-color: #131313;
  margin: auto;
  border-bottom: 1px solid #333;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-social > ul {
  display: flex;
  flex-wrap: wrap;
  padding-inline-start: 0;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-bottom: 21px;
  justify-content: center;
}

.footer-social > ul > li {
  margin: 3px;
}

.social {
  color: #fff;
  height: 40px;
  border-radius: 50%;
  padding: 12px;
  margin: 0 3px;
  text-align: center;
  background-color: #333;
  box-sizing: border-box;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.footer-info {
  font: 13px 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  text-align: center;
  flex-wrap: nowrap;
}

.footer-about {
  width: 100%;
  text-align: center;
  height: 122px;
  padding: 32px 0;
  font: 13px ARS Maquette, Helvetica Neue, Arial, sans-serif;
  color: #aaa;
  justify-content: center;
  background-color: black;
}

.footer-about span {
  display: inline-block;
}

.footer-about > span > a > img {
  height: 9px;
}

.footer-logo {
  margin-right: 3px;
}

.icon-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 21px;
}

.icon-f {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #aaa;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.z999 {
  z-index: 999;
}

.float-left {
  float: left;
  padding: 16px;
}

.fund-icon {
  height: 60px;
  width: 60px;
}

.target {
  margin: 0;
  font: bold 18px 'Lexend', sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.pad-left > h4 {
  margin: 0;
  margin-block-end: 0;
  margin-block-start: 0;
  font: 11px 'Inconsolata', monospace;
  opacity: 0.7;
}

.pad-left {
  line-height: 28px;
  padding: 10px 16px 10px 84px;
  background-color: #ffebe7;
  color: black;
}

.show-md {
  display: none;
}

.hide-sm {
  display: none;
}

.strike {
  font-size: 12px;
  color: #aaa;
  text-decoration: line-through;
  display: inline;
}

.new-price {
  font-size: 14px;
  color: #555;
  display: inline;
}

.ringover {
  background-color: #ff4322;
  color: #fff;
  padding: 10px 16px 10px 84px;
  box-sizing: border-box;
}

.grid-container {
  padding: 0 20px;
}

.grid-bottom-icons {
  padding: 16px;
}

.icon-description {
  font: 13px 'Lexend', sans-serif;
}

.header-container {
  color: #ff4322;
  margin-bottom: 24px;
}

.header-container > h1 {
  font: bold 28px 'Yanone Kaffeesatz', sans-serif;
}

.header-container > ul > li {
  margin-top: 11px;
}

.bottom-caption {
  padding: 10px 16px 16px;
  border-top: 1px solid #ffdfd9;
  font: bold 12px 'Lexend', sans-serif;
  color: rgb(141, 141, 141);
}

.bottom-caption > a > span {
  color: rgb(190, 190, 190);
  font: 12px 'Lexend', sans-serif;
}

.main-article-date {
  color: white;
  opacity: 0.8;
}

.separator {
  display: none;
}

.font-def {
  color: #ff4322;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 15px;
  font-family: 'Hammersmith One', sans-serif;
}

.container {
  padding: 0 16px;
}

.hard-fork {
  display: block;
}

.latest-fork {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 1px;
}

.img-latest-fork {
  height: 96px;
  width: 96px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  background-size: cover;
  background-position: 50%;
  background-image: url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/1280px-20th_Anniversary_Schwab_Foundation_Gala_Dinner_44887783681-e1611132397581.jpg");
}

.img-latest-deals {
  margin-right: 10px;
  box-sizing: border-box;
  height: 75px;
  width: 82px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  background-size: cover;
  background-position: 50%;
  background-image: url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdnp3.stackassets.com/b34f2af9e9ec3122eb0c0b252532b61f8a08c0ea/store/243275a3bf8c7d20203d2e6e3b9f3664926f9f8913e755d1ae8811aecd9b/sale_25748_primary_image.jpg");
}

.img-fork-main {
  width: 100%;
}

.img-li {
  position: relative;
  height: 75px;
  width: 75px;
  margin-right: 10px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.deals-container {
  display: flex;
  justify-content: space-between;
}

.news-box > li::marker {
  color: #ff4322;
  margin: 0;
}

.news-box > li > h4 {
  padding: 6px 0 6px 14px;
  font-size: 13px;
  color: #555;
}

.latest-deals {
  margin-top: 40px;
}

.latest-deals > div > h2 {
  margin-block-start: 0;
}

.latest-deals > div > span {
  color: #ff4322;
}
/*  ***********************
        MEDIA QUERIES
    *********************** */

@media only screen and (min-width: 768px) {
  .list-item {
    display: flex;
    flex-direction: column;
  }

  .img-li {
    height: 100%;
    width: 100%;
  }

  .grid-md {
    display: grid;
  }

  .font-def {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 15px;
    font-family: 'Hammersmith One', sans-serif;
  }

  .bg-container {
    height: 315px;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.48), rgba(0, 0, 0, 1)), url(binoculars-looking-at-ocean.jpg);
  }

  .separator {
    display: inline;
    padding: 0 3px;
  }

  .flex-md {
    display: flex;
  }

  .col-30x70 {
    grid-template-columns: 70% 30%;
  }

  .col-70x30-md {
    grid-template-columns: 70% 30%;
  }

  .col-2-md {
    grid-template-columns: auto auto;
    column-gap: 16px;
    row-gap: 16px;
  }

  .col-3-md {
    grid-template-columns: auto auto auto;
    column-gap: 16px;
    row-gap: 16px;
  }

  .show-md {
    display: block;
  }

  .hide-md {
    display: none;
  }

  .header-clearance {
    margin-top: 112px;
  }

  .standalone {
    margin: 0;
    height: 378px;
  }

  .card-title {
    margin-block-start: 0;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 15px;
    font-family: 'Hammersmith One', sans-serif;
  }

  .card-title2 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 7px;
    font-family: 'Hammersmith One', sans-serif;
  }
}

@media only screen and (min-width: 1024px) {
  .col-fund-list {
    grid-template-columns: 70% 30%;
  }

  .show-lg {
    display: block;
  }

  .col-3-lg {
    grid-template-columns: auto auto auto;
  }

  .col-4-lg {
    grid-template-columns: auto auto auto auto;
    column-gap: 16px;
  }

  .col-70x30-lg {
    grid-template-columns: 70% 30%;
  }

  .bg-img {
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.48), rgba(0, 0, 0, 1)), url(binoculars-looking-at-ocean.jpg);
  }

  .bg-container {
    height: 315px;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.48), rgba(0, 0, 0, 1)), url(binoculars-looking-at-ocean.jpg);
  }

  .card-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
  }

  .card-title2 {
    font-weight: 700;
    line-height: 25px;
    font-size: 28px;
  }

  .main-article-date {
    color: white;
  }
}
